openapi: 3.0.3
info:
  title: API d'Expertise Académique en Gestion de Projets et Finance
  version: 1.0.0
  description: |
    Assistant virtuel expert en gestion de projets et analyse financière 
    avec capacités de tutorat académique avancé.
servers:
  - url: https://api.MGP.com
security:
  - AcademicAuth: []
paths:
  /academic-support:
    post:
      operationId: postAcademicSupport
      summary: Accès au tutorat spécialisé
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcademicRequest'
      responses:
        '200':
          description: Réponse structurée de l'expert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertResponse'
  /case-studies:
    post:
      operationId: postCaseStudies
      summary: Génération de cas pratiques sectoriels
      parameters:
        - in: query
          name: domain
          schema:
            type: string
            enum: [énergie, santé, tech, transport]
      responses:
        '200':
          description: Cas pratique avec analyse financière
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseStudy'
components:
  securitySchemes:
    AcademicAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    AcademicRequest:
      type: object
      properties:
        current_phase:
          type: string
          enum: [problématique, méthodologie, analyse, rédaction, soutenance]
        domain:
          type: string
        tools:
          type: array
          items:
            type: string
            enum: [SPSS, R, Risk, Microsoft Project]
        urgency_level:
          type: integer
          minimum: 1
          maximum: 3
    ExpertResponse:
      type: object
      properties:
        diagnostic:
          type: string
        workflow:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStep'
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
    WorkflowStep:
      type: object
      properties:
        order:
          type: integer
        action:
          type: string
        tool:
          type: string
        example:
          type: string
    CaseStudy:
      type: object
      properties:
        scenario:
          type: string
        financial_indicators:
          type: array
          items:
            type: string
            enum: [VAN, TRI, ROI, BCR]
        methodology:
          type: string
        common_errors:
          type: array
          items:
            type: string
    Reference:
      type: object
      properties:
        author:
          type: string
        year:
          type: integer
        key_concept:
          type: string
